html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  font-family: "Oxygen", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

hr {
  border-width: 1px;
  border-style: solid;
  color: #444;
}

.favicons {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.mobile-favicons-banner a {
  text-decoration: none;
}

#twitter {
  width: 50px;
  height: auto;
  opacity: 0.5;
  margin-left: 0.3em;
  margin-bottom: 0.75em;
}

#twitter_fixed {
  width: 50px;
  height: auto;
  position: fixed;
  top: 12px;
  right: 20px;
  opacity: 0.8;
}

#facebook {
  width: 45px;
  height: auto;
  opacity: 0.5;
  margin-right: 0.3em;
  margin-bottom: 0.75em;
}

#facebook_fixed {
  width: 45px;
  height: auto;
  position: fixed;
  top: 10px;
  right: 90px;
  opacity: 0.8;
}

.header {
  position: relative;
  background: url('../img/hackpton.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  min-height: 600px;
}

.wrapper {
  background: rgba(50, 29, 97, 0.15);
  height: 100%;
}

#logo {
  padding-top: 2em;
  width: 80%;
  max-width: 600px;
  height: auto;
}

.banner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: rgba(13, 163, 159, 0.7);
  color: white;
  font-size: 18px;
}

.banner > h2 {
  padding: 0.25em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.signup {
  background: rgb(236, 69, 69);
  color: white;
}

.size {
  font-size: 125%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 1.25em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.content {
  padding: 1.25em;
}

#signup {
  background-color: #e0e0e0;
  text-align: center;
}

#schedule {
  background-color: #f0f0f0;
  text-align: center;
}

#schedule p {
  text-align: left;
}

#faq {
  background-color: #0DA39F;
  text-align: center;
}

#faq dl, dd, dt {
  text-align: left;
  margin: 10px 0 10px 0;
  font-size: 20px;
}

#faq dt {
  font-weight: 700;
}

#sponsor {
  background-color: #ccc;
  text-align: center;
}

.footer {
  background-color: #000;
  color: #bbb;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
}
